[Desktop Entry]
Type=Application
Name=Q-MAWS
Comment=Alignment-free phylogenies from minimal absent words, quartet by quartet
Exec=Q-MAWS gui
Icon=q-maws
Terminal=false
Categories=Science;Biology;
